source https://nuget.org/api/v2
source https://www.myget.org/F/yolodev/api/v3/index.json

nuget FSharp.Core redirects:force, content:none
nuget Fable.Core
nuget Fable.PowerPack
nuget Fable.Ava

group Build
framework: net46
  source https://nuget.org/api/v2
  nuget FSharp.Core redirects:force, content:none
  nuget FAKE
  nuget FSharp.Formatting
  nuget Fable.Compiler
